/*--------------------------------------------------------------
 * ## WordPress Caption
 *
 * _s includes built in support for a .wp-caption class, the 
 * styles for this class belong here
 * ------------------------------------------------------------*/

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}
